.change-list-name {
  height: 160px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(184, 231, 53);
}

.show-lists {
  padding-left: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 255, 255);
}

.show-lists-button {
  background-color: #1686d9;
  border: 2px solid rgb(45, 68, 194);
  border-radius: 15px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: 10px;
  display: inline-block;
}

.show-lists-button:hover {
  background-color: white;
  color: #1686d9;
  border: 2px solid #1686d9;
}

.lists-contents {
  width: 700px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  margin: auto;
}

.close-show-list {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}

.close-show-list:hover {
  color: rgb(240, 42, 42);
}

#button-right {
  height: 39px;
  margin-left: 5px;
  margin-top: 14px;
}
