* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #34495e;
}

.lists-contents img {
  width: 50px;
  border-radius: 30%;
}

.show-lists {
  justify-content: center;
  align-items: center;
}

.lists-contents {
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  margin: auto;
}

.close-show-list {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.close-show-list:hover {
  color: rgb(240, 42, 42);
}

.todo-item {
  width: 85%;
  margin: 10px auto;
  padding: 20px 10px;
  box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;
  border-radius: 5px;
}

.empty {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  color: #cccc;
}

.main-section {
  background: transparent;
  max-width: 700px;
  width: 90%;
  margin: 30px auto;
  border-radius: 10px;
}

/* Guest CSS */
.show-todo-section {
  width: 100%;
  background: #fff;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
}

/* Login CSS */
.login {
  width: 700px;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 5px;
  padding: 40px 10px;
  border: 1px solid rgb(0, 0, 0);
}

/* Create account */
.create-account {
  width: 700px;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 5px;
  padding: 40px 10px;
  border: 1px solid rgb(0, 0, 0);
}

.customize-profile {
  width: 700px;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 5px;
  padding: 40px 10px;
  border: 1px solid rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .lists-contents {
    padding: 0px;
  }
}
